/* General Style for the Main Container */
.root {
    -fx-background-color: #2C3E50; /* Dark blue background */
}

/* Style for the Admin Login Image (Admin Icon) */
.image-view {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 10, 0.5, 0, 0);
}

/* Style for the Admin Text */
.button{
    -fx-cursor: hand;
}

/* Style for the Admin Login Section */
.anchor-pane {
    -fx-background-color: #F2F2F2; /* Light gray background */
    -fx-padding: 20px;
    -fx-border-radius: 10px;
}

/* Style for the TextField and PasswordField */
.text-field, .password-field {
    -fx-background-color: #ECF0F1; /* Light gray */
    -fx-border-color: #BDC3C7;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

/* Style for the FontAwesome Icons */
.font-awesome-icon {
    -fx-fill: #2C3E50; /* Dark blue */
}


/* Hover effect for the Login Button */
.button:hover {
    -fx-background-color: #2980B9;
}

/* Style for the Hyperlink */
.hyperlink {
    -fx-text-fill: #3498DB; /* Blue text */
}

/* Style for the Admin Login Text */
.text-admin-login {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-fill: #34495E; /* Darker gray for the Admin Login text */
}

/* Style for the Exit Button */
.exit-button {
    -fx-background-color: #E74C3C; /* Red */
    -fx-text-fill: #FFFFFF; /* White text */
    -fx-border-radius: 5px;
    -fx-padding: 10px;
}

/* Hover effect for the Exit Button */
.exit-button:hover {
    -fx-background-color: #C0392B;
}


