.rectangle-available {
    -fx-fill: #bfbfbf;
    -fx-stroke: transparent;
    -fx-stroke-width: 1;
}

.rectangle-selected {
    -fx-fill: #94e878;
    -fx-stroke: transparent;
    -fx-stroke-width: 1;
}

/* Hiệu ứng hover */
.rectangle-available:hover,
.rectangle-selected:hover {
    -fx-fill: #CFFDC1;
    -fx-stroke: #94e878;
    -fx-stroke-width: 2;
}

.rectangle-available:pressed {
    -fx-fill: #008000;
    -fx-stroke: #94e878;
    -fx-stroke-width: 2;
}

.rectangle-booked:pressed {
    -fx-fill: #FF0000;
    -fx-stroke: transparent;
    -fx-stroke-width: 1;
}

.button {
    -fx-border-color: transparent;
    -fx-background-color: #439da1;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: #439da1;
    -fx-border-width: 2px;
}

.rectangle-available {
    -fx-fill: #bfbfbf; /* Gray color */
    -fx-stroke: transparent;
    -fx-stroke-width: 1;
}

.rectangle-selected {
    -fx-fill: #94e878; /* Green color */
    -fx-stroke: transparent;
    -fx-stroke-width: 1;
}

.rectangle-booked {
    -fx-fill: red;
}